@{
    ViewData["Title"] = "Admin";

}
<html>
<head>

</head>
<body>
    <h1>Admin Dashboard</h1>
    <form asp-controller="Home" asp-action="Login" method="post">
        <button type="submit" name="btnLogout">Logout</button>
    </form>
    <h2>@Model.message</h2>
    <form asp-controller="Admin" asp-action="CourseView" method="post">
        <button type="submit" id="course_view" name="course_view">View Courses</button>
    </form>
    <form asp-controller="Admin" asp-action="StudentInfo" method="post">
        <label for="term_id">Choose Student</label>
        <select name="stud_id" id="stud_id">
            @foreach (Student student in Model.students)
            {
                <option value=@student.stud_id>@student.stud_id, @student.name</option>
            }
        </select>
        <button type="submit" id="button" name="button">View Student Information</button>
    </form>
    <form asp-controller="Admin" asp-action="AdminView" method="post">
        <label for="term_id">Choose Term</label>
        <select name="term_id" id="term_id">
            @foreach (Terms terms in Model.terms)
            {
                <option value=@terms.term_id>@terms.term_id</option>
            }
        </select>
        <button type="submit" id="submit" name="submit">View Term</button>
    </form>

    <br />
    <br />
    <label for="enrollments">Showing Currently Enrolled in @Model.term_id</label>
    <table name="enrollments">
        <tr>
            <th>Enrollment ID</th>
            <th>Student ID</th>
            <th>Name</th>
            <th>Year</th>
            <th>Course</th>
        </tr>
        @foreach (Enrolled enrolled in Model.enrolled)
        {
            @if (enrolled.term_id == Model.term_id)
            {
                <tr>
                    <td>@enrolled.enrollment_id</td>
                    <td>@enrolled.stud_id</td>
                    @foreach (Student students in Model.students)
                    {
                        @if (enrolled.stud_id == students.stud_id)
                        {
                            <td>@students.name</td>
                            <td>@students.year_level</td>
                            <td>@students.course</td>
                        }
                    }
                </tr>
            }
            
        }

        </table>

    </body>
</html>