@{
    ViewData["Title"] = "Enrollment Dashboard";

}
<html>
<head>

</head>
<body>
    <h1>Admin Dashboard -> Enrollment Dashboard</h1>
    <form asp-controller="Admin" asp-action="AdminView" method="post">
        <button type="submit" name="btnBack">Back</button>
    </form>
    <h2>@Model.message</h2>
    <form id="form_enrollment_add" asp-controller="Admin" asp-action="EnrollmentAdd" method="post"></form>
    <button form="form_enrollment_add" type="submit" id="btn_enrollment_dml" name="btn_enrollment_dml" value="add">Enroll Student</button>

    <table>
        <tr>
            <th>Enrollment ID</th>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Term</th>
        </tr>
        @foreach (Enrolled enrollment in Model.enrollments)
        {
            <tr>
                <td>@enrollment.enrollment_id</td>
                @foreach (Student student in Model.students)
                {
                    @if (student.stud_id == enrollment.stud_id)
                    {
                        <td>@student.stud_id</td>
                        <td>@student.name</td>
                        break;
                    }
                }
                @foreach (Course course in Model.courses)
                {
                    @if (course.CourseID == enrollment.CourseID)
                    {
                        <td>@course.CourseCode</td>
                        <td>@course.CourseName</td>
                        break;
                    }
                }
                <td>@enrollment.term_id</td>
            </tr>
        }
    </table>
</body>
</html>