@{
	ViewData["Title"] = "Add Grade";

}
<html>
<head>

</head>
<body>
	<h1>Admin Dashboard -> Add Grade</h1>
	<form asp-controller="Admin" asp-action="GradesView" method="post">
		<button type="submit" name="btnBack">Back</button>
	</form>
	<h2>@Model.message</h2>

	<form asp-controller="Admin" asp-action="GradeAdd" method="post">

		Student: <select name="txtStudentID">
			@foreach (Student student in Model.students)
			{
				<option value=@student.stud_id>@student.stud_id, @student.name</option>
			}
		</select>

		<br>

		<br />

		Course: <select name="txtCourseID">
			@foreach (Course course in Model.courses)
			{
				<option value=@course.CourseID>@course.CourseCode</option>
			}
		</select>

		<br>

		<br />

		Term: <select name="txtTerm">
			@foreach (Terms term in Model.terms)
			{
				<option value=@term.term_id>@term.term_id</option>
			}
		</select>

		<br>

		<br />

		Grade Value: <input type="text" name="txtGradeValue" required />

		<br>

		<br />

		<button type="submit" name="btnSubmit">Add Grade</button>
	</form>
</body>
</html>